.displayFlex {
  display: flex;
}
.justifyFlexEnd {
  justify-content: flex-end;
}
.spaceBetween {
  justify-content: space-between;
}
.spaceAround {
  justify-content: space-around;
}
.directionRow {
  flex-direction: row;
}