/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family:'Open Sans';
  margin: 0;
}

main {
  margin-top: 25px;
}

/* Page should fill the entire height of the window */
html, body, #root, #root > div {
  height: 100%
}